main{
    
    height: 97.5vh;
    /* border: 1px solid red; */
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#mainbox{
    width: 1000px;
    height: 600px;
     /* border: 1px solid red; */
    /* background-color: rgb(6, 35, 35); */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#us{
    width: 100%;
    height: 45%;
    /* background-color: red;  */
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}

#ls{
    width: 100%;
    height: 45%;
    /* background-color: rgb(11, 32, 218);  */
     display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    /* border: 2px solid red; */
}

div{
    width: 300px;
    height: 100%;
    /* background-color: rosybrown; */
    /* border: 2px solid red; */
}

#d1{
    background-image: url(download\ \(1\).jpg);    
    background-size:  cover;
    background-repeat: no-repeat;
    background-position: center;
}

#d2{
    background-image:linear-gradient(90deg, yellow, red);
}

#d3{
    background-image: radial-gradient(blue,white,orange,rgb(16, 184, 16));
    border-radius: 50%;
}

#dd1{
    border-radius: 50%;
    background-image: conic-gradient(yellow,pink,red,blue,white,pink,orange);
}

#dd2{
     background-image: repeating-linear-gradient(rgb(185, 152, 152), rgb(155, 15, 38),rgb(197, 197, 23), rgb(242, 235, 235), rgb(15, 15, 192));
    border-radius: 50%;
}

#dd3{
    background-image: repeating-radial-gradient(red 3%,yellow 10%);
    border-radius: 50%;
}
    