
body{
    margin: 0;
    padding: 0;
}
main{
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: rgb(227, 230, 230);
    display: flex;
    justify-content: center;
    align-items: center;
     border: 2px solid red;
}

section{
    width: 70%;
    height: 70%;
    background-color: aqua;
    border: 2px solid red;
    display: flex;
    justify-content: space-evenly;
    position: relative;
}


div{
    width: 200px;
    height: 200px;
    border: 1px solid red;
    border-radius: 50%;
    background-color: grey;
}
#d1{
    position: absolute;
    top: 50%;
    left: 330px;
    background-color: rgb(248, 222, 174);
    display: flex;
    align-items: center;
    justify-content: center;
}
#d2{
    position: absolute;
    top: 25%;
    background-color: rgb(230, 146, 146);
    display: flex;
    align-items: center;
    justify-content: center;
}

#d3{
    position: absolute;
    top: 25%;
    right: 57%;
    background-color: rgb(226, 226, 130);
      display: flex;
    align-items: center;
    justify-content: center;
}

#d4{
    position: absolute;
    top: 25%;
    left: 57%;
    background-color: rgb(112, 219, 112);
      display: flex;
    align-items: center;
    justify-content: center;
}

#d5{
    position: absolute;
    top: 50%;
    right: 330px;
    background-color: rgb(112, 112, 227);
    display: flex;
    align-items: center;
    justify-content: center;
}

p{
    font-size: large;
    font-size: 50px;
     font-family: serif;
     color: RED;
}