*{
    
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    bor
   

}
main{
    
    height: 70%;
    width: 70%;
    border: 1px solid;
    background-color:whitesmoke;
}
header{
    height: 25%;
    border: 1px solid;
    display: flex;
    align-items: right;
   
    justify-content: right;
    gap: 20px;    
}
section{
    height: 75%;
    width: 60%;
    display: flex;
    align-items: center;
    /* justify-content: center; */
     flex-direction: column;

}
#a1{
    
    width: 60%;
    margin-top: 70px;
}
p{
    margin-top: 20px;
}
button{
    margin-top: 100px;
}
#a2{

width: 40%;
display: flex;

background-color: lightgreen;

}