*{
    
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
   
    background-color:rgb(229, 235, 229);
}
main{
    height: 70%;
    width: 70%;
    border: 1px solid;
    background-color: lightgreen;
}
header{
    display: flex;
    align-items: center;
    border: 1px solid;
    height: 20%;
   
    
}
#h1{
    width: 100%;
    display: flex;
    margin-left: 10px;
  
 
    
}
#a1{
   margin-left: 450px;
   margin-top: 10px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
  
}
section{
    height: 65%;
    width: 100%;
   display: flex;
    border: 1px solid;
}
.c1{

    background-color: green;
    width: 60%;
    border-bottom-left-radius:100px ;
    border-bottom-right-radius: 100px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    margin-top: 70px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
  
}
.c2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
h1{
    font-size:xx-large;
}
p{
    margin-top: 20px;
}
button{
    margin-top: 20px;
    background-color: greenyellow;
}
footer{
    height: 14.5%;
    display: flex;
    background-color: green;
}
