*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    height: 100vh;
    background: gainsboro;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-direction: column;

}
main{
    width: 70%;
    height: 70%;
    background:white;

}
header{
    display: flex;
    align-items: center;
    
    height: 25%;
}
header>nav{
    width: 22%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#home{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 75%;
    
}
section{
    height: 75%;
    /* border: 1px solid; */
    display: flex;
}
.art1{
    width: 50%;
    /* border: 1px solid; */
    height: 100%;
    
}
h1{
    width: 90%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    font-size: 40px;
}
section>p{
    display: flex;
    justify-content: start;
    align-items: center;
    height: 40%; 
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;

}
#btn{
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color:lightblue;
    height: 20%;
    margin-top: 20px;
    margin-left: 20px;
}
#art2{
    display: flex;
    background-color: yellow;
    width: 50%;
    height: 100%;
    border-top-left-radius:100px ;
    border-bottom-left-radius: 75px;
}
