section{
     width: 50%;
     justify-content: center;
    align-items: center;
    margin-left: 25%;
    margin-top: 100px;
    background-color: aqua;
 
}
div{
    display: flex;


}
#A1{
    background-color:blue;
  height: 100px;
    /* width: 200px; */
    /* justify-content: center; */


}
#a1{
    background-color: aliceblue;
    width: 600px;
    justify-content: end;
}
#A2{
    background-color: orange;
    height: 400px;
}

#A3{
    background-color: blue;
    height: 100px;
    /* width:200px ; */
}
nav{
    background-color: bisque;
    border: 5px solid;
    
    margin: 20px;

}
#n1{
    width: 100px;
    
}
#n2{
    width: 100px;
}
#n3{
    width: 100px;
}

