main{
     width: 50%;
     justify-content: center;
    align-items: center;
    margin-left: 25%;
    margin-top: 100px;
}
div{
    display: flex;
    /* background-color: red;
} */
}


#A1{
    height:100px ;
    background-color: rgb(212, 255, 0);
}

#A2{
    height:300px ;
    background-color: aqua;
}

#A3{
    height:110px ;
    background-color: aquamarine;
}

 
nav{
    background-color: bisque;
    border: 5px solid;
    width: 50px;
    margin: 20px    ;
}
 
#n1{
    width: 200px;
}
#n2{
    width: 430px;
}

h1{
    background-color: red;
    border: 2px solid;
    margin: 10px;
}
h1{
    height: 111px;
}

h1>div{
    background-color: darkgoldenrod;
    border: 1px solid;
    margin: 10px;
    display:inline-block;
    width: 175px;
    height: 95px;
} 